body { 
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f4f7f6; */
    /* display: flex;  */
    /* justify-content: center; */
    /* padding: 20px; */
    /* padding: 5%; */
    margin: 5px;
    background-color: white;
    
}
body h1, p{
    color: black;
    text-align: center;
    font-size: large;
}
body .telefono h2 {
    color: #3498db;
    text-align: center;
}
.desktop{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desktop .dosisKg, .tiempoDosis, .dosisVol{
    display: flex;
    gap: 3%;
    }
    
    .medicamento, .dosisKg, .tiempoDosis, .dosisVol, .resultados, .calcular{
        background-color: rgb(243, 236, 236);
        border-radius: 8px;
        width: 95%;
        padding: 8px;
    }

.telefono{
    /* background-color: #062336; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 5%; */
    justify-content: space-evenly;
    /* height: 100vh; */
    /* margin-top: 10%; */
        width: 100%;
}


/* estilos para los contenedores */

/* .medicamento, .dosisKg{
    background-color: red; 
    border-radius: 8px;
    width: 90%;   
} */
/* .medicamento, .dosisKg, .tiempoDosis, .dosisVol  { 
    background: white; 
    padding: 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    width: 80%; 
     max-width: 400px; 
     justify-content: space-between;
} */


/* input busqueda medicamentos*/

#searchInput{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#optionsList {
    position: relative;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#optionsList li {
    padding: 4px;
    cursor: pointer;
}

#optionsList li:hover {
    background-color: #f0f0f0;
}

/* estilo para opcion de presentacion del medicamento */
.seleBox{
    width: 100%;
    /* padding: 10px; */
    margin: 10px 0 10px 0;
    /* background-color: #f0f0f0; */
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*estilos para los inputs, botones y resultados */

/* input { width: 100%; 
    padding: 10px; 
    margin: 10px 0 20px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
} */

.calcular{
        display: flex;
        justify-content: space-evenly;
}
#btnCalcular{
    width: 8%; 
    padding: 12px; 
    background-color: #27ae60; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}
    #btnLimpiar{
        width: 8%;
        padding: 12px;
        background-color: yellow;
        color: black;
        border: none;
        border-radius: 4px; 
        cursor: pointer; 
        font-size: 16px;
    }
    #btnCalcular:hover, #btnLimpiar:hover{
        background-color: rgb(109, 109, 107);
    }

/* button { 
    width: 100%; 
    padding: 12px; 
    background-color: #27ae60; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}
button:hover { 
    background-color: #219150; 
} */

/* estilos para resultados */

.result { 
    margin-top: 20px; 
    padding: 15px;
    width: 30%; 
    background: #e8f4fd; 
    border-left: 5px solid #3498db; 
    text-align: center; 
}

.resultados .resultadosDia, .resultadosDosis, .resultadosVol{
    display: flex;
    justify-content: space-between;
}

/*alerta feedback visual */
.input-error {
    border: 2px solid #ff4d4d !important;
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}

/* medias */

/*media para equipos de escritorio */

@media screen and (max-width: 1920px) {
    
}

/*media para telefonos */

@media screen and (max-width: 534px){
    .desktop{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* padding: 5%; */
        width: 95%;
    }

    

    body h1, h3{
        color: #3498db;
    }

    #optionsList {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border-radius: 8px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

    /* estilos para los contenedores */
    
    .medicamento, .dosisKg, .tiempoDosis, .dosisVol, .resultados, .calcular{
        /* background-color:  rgb(243, 236, 236); */
        background-color:  white;
        border-radius: 8px;
        width: 100%;
        /* padding: 1rem; */
    }


    /* .medicamento{
        background: white; 
        padding: 2rem;
        border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
        width: 75%; 
         height: 40vh; 
        max-width: 400px;
        justify-content: space-between;
    }
    
    .medicamento, .dosisKg, .tiempoDosis,.dosisVol  { 
        background: white; 
        padding: 2rem; 
        border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
        width: 75%; 
        max-width: 400px;
        justify-content: space-between;
    } */

    /*estilos para los inputs, botones y resultados */
    input {
        width: 100%;
        padding: 5px;
        margin-top: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    span {
        margin-top: 0px;
    }
    
    .calcular{
        display: flex;
        justify-content: space-evenly;
    }

    #btnCalcular{
        width: 25%; 
        padding: 12px; 
        background-color: #27ae60; 
        color: white; 
        border: none; 
        border-radius: 4px; 
        cursor: pointer; 
        font-size: 16px; 
    }

    #btnLimpiar{
        width: 25%;
        padding: 12px;
        background-color: yellow;
        color: black;
        border: none;
        border-radius: 4px; 
        cursor: pointer; 
        font-size: 16px;
    }

    /*estilos para resultados */

    .result{
        margin-top: 15px; 
        padding: 15px;
        width: 60%; 
        background: #e8f4fd; 
        border-left: 5px solid #3498db; 
        text-align: center;
    }
}